body {
    background: #ffffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    background: white;
    max-width: 600px;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}

h1 {
    margin: 10px 0;
    color: #000;
}

h2 {
    margin: 10px 0 20px 0;
    color: #555;
    font-weight: normal;
}

.sep {
    width: 80%;
    height: 2px;
    background: #ddd;
    margin: 25px auto;
    border-radius: 5px;
}

a {
    color: #000;
    text-decoration: black;
    font-size: inherit;
}

a:hover {
    text-decoration: underline;
}

.logo{
    margin-left: auto;
    margin-right: auto;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.tabs {
    display: flex;
    justify-content: center;
    background: white;
    border-bottom: 1px solid #eee;
}

.tab {
    padding: 12px 28px;
    cursor: pointer;
    font-size: 15px;
    color: #444;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

.tab:hover {
    background: #f0f0f0;
    text-decoration: none;
}

.tab.ativa {
    border-bottom: 3px solid #888;
    font-weight: bold;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container img {
    width: 50px;
}

.containers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.containers img {
    width: 200px;
}
