body {
    background: #ffffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    background: white;
    max-width: 600px;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}

h1 {
    margin: 10px 0;
    color: #000;
}

h2 {
    margin: 10px 0 20px 0;
    color: #555;
    font-weight: normal;
}

.sep {
    width: 80%;
    height: 2px;
    background: #ddd;
    margin: 25px auto;
    border-radius: 5px;
}

a {
    color: #000;
    text-decoration: black;
    font-size: inherit;
}

a:hover {
    text-decoration: underline;
}
