<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrier List - Levels</title>
    <link rel="icon" type="image/png" href="static/assets/icon.png">
    <link rel="shortcut icon" href="static/assets/carrierlist_face.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
        <div class="logo">
        <img src="static/assets/carrierlist_logo.png" height="100">
        </div>
        
        <div class="sep"></div>
        <h1><a href="static/levels/index.html">1. Judgement Knights</a></h1>
        <h2>by HangerLord</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index2.html">2. Widestep</a></h1>
        <h2>by Demishio</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index3.html">3. Cosmic Cyclone</a></h1>
        <h2>by APTeamOfficial</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index4.html">4. The Hell Zone</a></h1>
        <h2>by Stormfly</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index5.html">5. Blade of Justice</a></h1>
        <h2>by Manix648</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index6.html">6. moment</a></h1>
        <h2>by Lexycat</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index7.html">7. Bloodbath</a></h1>
        <h2>by Riot</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index8.html">8. The Hell Dignity</a></h1>
        <h2>by Stormfly</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index9.html">9. Reflective</a></h1>
        <h2>by Mojitoz</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index10.html">10. NecropoliX</a></h1>
        <h2>by namtar</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index11.html">11. The Lost Existence</a></h1>
        <h2>by JonathanGD</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index12.html">12. Cataclysm</a></h1>
        <h2>by Ggb0y</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index13.html">13. Niwa</a></h1>
        <h2>by Teno</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index14.html">14. Acu</a></h1>
        <h2>by neigefeu</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index15.html">15. ICE Carbon Diablo X</a></h1>
        <h2>by -Roadbose-</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index16.html">16. CraZy III</a></h1>
        <h2>by DavJT</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index17.html">17. Infinity LoL</a></h1>
        <h2>by Guimonteiro</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index18.html">18. Necropolis</a></h1>
        <h2>by IIINePtunEIII</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index19.html">19. Acropolis</a></h1>
        <h2>by Zobros</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index20.html">20. Ultra funky</a></h1>
        <h2>by Guimonteiro</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index21.html">21. Supersonic</a></h1>
        <h2>by ZenthicAlpha</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index22.html">22. SlaughterHouse</a></h1>
        <h2>by Havok</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index23.html">23. Death Note</a></h1>
        <h2>by Ruf</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index24.html">24. Manic</a></h1>
        <h2>by Guimonteiro</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index25.html">25. Poltergeist</a></h1>
        <h2>by Andromeda GMD</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index26.html">26. Plasma Pulse</a></h1>
        <h2>by Giron</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index27.html">27. Windy Landscape</a></h1>
        <h2>by Woogi1411</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index28.html">28. CraZy II</a></h1>
        <h2>by DavJT</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index29.html">29. Stalemate</a></h1>
        <h2>by Nox</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index30.html">30. The Furious</a></h1>
        <h2>by Knobbelboy</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index31.html">31. I Cant Fix You</a></h1>
        <h2>by IronIngot</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index32.html">32. Shonic wave</a></h1>
        <h2>by Guimonteiro</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index33.html">33. Cant let troll 3xrow</a></h1>
        <h2>by Guimonteiro</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index34.html">34. Whatsapp circles</a></h1>
        <h2>by XKYY</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index35.html">35. Hellaven II</a></h1>
        <h2>by clasi</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index36.html">36. CraZy</a></h1>
        <h2>by DavJT</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index37.html">37. Cant troll twice</a></h1>
        <h2>by Guimonteiro</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index38.html">38. widder</a></h1>
        <h2>by 2003devin</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index39.html">39. Potatoguy adven 3</a></h1>
        <h2>by BearWare</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index40.html">40. Nine Circles</a></h1>
        <h2>by Zobros</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index41.html">41. Jawbreaker</a></h1>
        <h2>by ZenthicAlpha</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index42.html">42. Cant let troll</a></h1>
        <h2>by Defectum</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index43.html">43. Megalovania</a></h1>
        <h2>by EternaswipVMAX</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index44.html">44. Hellaven</a></h1>
        <h2>by clasi</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index45.html">45. Rhombus</a></h1>
        <h2>by Theixn</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index46.html">46. BP night</a></h1>
        <h2>by -</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index47.html">47. Aleph</a></h1>
        <h2>by AlemaneiroGD</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index48.html">48. VeritY</a></h1>
        <h2>by Serponge</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index49.html">49. Sakupen Egg</a></h1>
        <h2>by Sivlol</h2>

        <div class="sep"></div>
        <h1><a href="static/levels/index50.html">50. Extreme Park</a></h1>
        <h2>by Rabbitical</h2>

        <div class="sep"></div>

        <h3><a href="/info">Info</a></h3>
        <p><a href="https://www.youtube.com/@anonimorandom">Carrier</a></p>
    </div>

</body>
</html>