<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrier list - info</title>
</head>
<body>
    <h1>Info</h1>
    This website was made by silva and yuridakbrada
    <p>
        You can submit your hardest on the carrier's Discord server! If it meets the requirements to be included in the list, the developers will do their best to add it as quickly as possible!
    </p>
    <p><a href="/">Back</a></p>
</body>
</html>