<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrier List - Regras</title>
    <link rel="shortcut icon" href="assets/logos/carrierlist_face.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="assets/logos/carrierlist_logo2.png" height="100">
        <h1>Regras</h1>
            <p>- O level deve ter mais de 30 segundos para poder participar da Carrier List.</p>
            <p>- Se você completou uma fase dificil o suficiente para entrar, envie no servidor.</p>
            <p>- Envie uma raw footage no Drive</p>
                <br>
            <p><a href="https://discord.gg/6HUW5VXQM2">Clique aqui para entrar no nosso servidor</a></p>

</body>
</html>